<%-  include("./include/header"); %>

<div class="subVisual" id="subVisual04">
  <div class="titleBox">
  <h2 class="subTitle">Customer</h2>
  <p>하이탑의 다양하고 새로운 소식들을 전해드립니다.</p>
</div>


<nav id="lnb">
  <div class="container">
    <a href="" class="home">HOME</a>
    <div class="depth01 menu">
      <button>customer</button>
      <%- include("./include/depth01"); %>
    </div>
    <div class="depth02 menu">
      <button>견적문의</button>
      <%- include("./include/lnb04"); %>
    </div>
  </div>
</nav>
</div>

<div class="subContents">
  <h3 class="contentsTitle">견적문의</h3>

  <!-- <% list.forEach(function(item,idx){ %>
    <li><a href="/detail/<%= item.no %>"><%= item.title %></a></li>
    <% }) %> -->


  <div class="contents" id="inquiry">
    <div class="container">

      <table class="boardTable">

        <thead>
          <tr>
            <th scope="column">번호</th>
            <th scope="column">제목</th>
            <th scope="column">작성자</th>
            <th scope="column">날짜</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td></td>
            <td class="subject">[필독] 견적문의 글 작성 전 읽어주세요</td>
            <td>관리자</td>
            <td>2019.04.22</td>
          </tr>

          <% list.forEach(function(item,idx){ %>
            <tr>
              <td> <%= item.no %> </td>
              <td class="subject"><a href="/detail/<%= item.no %>"><%= item.title %></a> </td>
              <td> <%= item.writer %> </td>
              <td> <%= item.date %> </td>
            </tr>
            <% }) %>

        </tbody>

      </table>

      <div class="writeBtn">
        <button><a href="/write">글쓰기</a></button>
      </div>


      <%- include("./include/pagination")%>
      <%- include("./include/search")%>
    </div>
  </div>
</div>

  <%-  include("./include/footer");  %>
</div>
